.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  position: absolute;
  z-index: 20;

  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  height: 450px;
  padding: 0;
  padding: 25px;
}

.modal {
  height: 100%;
  width: 100%;
  background: #f3f7fb;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.modal__header {
  text-align: center;
  padding: 35px;
  font-size: 22px;
  letter-spacing: 1.2px;
  background: #fff;
  margin: 0px;
}

.modal__content {
  height: 225px;
  padding: 25px;
  box-sizing: border-box;
}

.modal textarea {
  box-sizing: border-box;
  width: 100%;
  height: unset;
  min-height: 100%;
  padding: 15px 25px;

  line-height: 1.5;

  background: #ffffff;

  resize: none;
  border: none;
  border-radius: 10px;
}

.modal textarea:focus {
  outline: 2px solid #eeeeee;
}

.modal textarea::-webkit-scrollbar {
  width: 5px;
  max-height: 10px;
}

.modal textarea::-webkit-scrollbar-track {
  background: #f6f6f7;
}

.modal textarea::-webkit-scrollbar-thumb {
  background: #e3e5e8;
}

.modal textarea::-webkit-scrollbar-thumb:hover {
  background: #ccced0;
}

.modal__buttons {
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal__button {
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  border-radius: 10px;
  padding: 5px;
  background: #fff;
  border: none;
  border: 2px solid #eee;
}

.modal__button--cancel {
  background: #ffe5e5;
  margin-left: 15px;
}

.modal__button:focus {
  outline: none;
  background: #eee;
}

.modal__button--cancel:focus {
  background: #ffb2b2;
}

.modal__button:hover {
  cursor: pointer;
  border: 2px solid #dadada;
}
