:root{
  --border-color: #eeeeee;
  --bg-color: #fff;
  --message-own-bg-color: #eceff1;
  --message-users-bg-color: #42b0f8;
  --message-own-color: #1a1a1a;
  --message-users-color: #fff;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://cdn.pling.com/img/b/7/0/1/85b4a2e6bdd6a36ae072365280b1e0e82b66.jpg);
}

textarea, button, input {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

pre {
  margin: 0;
}

button {
  text-align: center;
  line-height: 1.2;
  user-select: none;
  cursor: pointer;
  border-radius: 2px;
}
