.message {
  font-size: 16px;
  margin-bottom: 10px;
  max-width: 70%;
}

.message--own {
  align-self: flex-end;
}

.message--users {
  align-self: flex-start;
}

.message__body {
  display: flex;
}

.message__avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: flex-end;
  margin-right: 20px;
}

.message__content {
  margin-bottom: 8px;
  padding: 0px 20px;
  border-radius: 10px;
  width: 100%;
}

.message--own .message__content {
  background-color: var(--message-own-bg-color);
  border-bottom-right-radius: 0px;
}

.message--users .message__content {
  background-color: var(--message-users-bg-color);
  color: var(--message-users-color);
  border-bottom-left-radius: 0px;
}

.message__text {
  line-height: 1.5;
  font-size: 16px;
}

.message--own .message__text {
  color: var(--message-own-color);
}

.message--users .message__text {
  color: var(--message-users-color);
}

.message__time {
  margin-top: -10px;
  text-align: right;
  font-size: 13px;
  font-style: italic;
}

.message--own .message__time {
  color: #9f9f9f;
}

.message--users .message__time {
  color: #eeeeee;
}

.message__controls {
  margin-left: 60px;
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 15px;
  color: #c6c6c6;
}

.message__controls i {
  color: #c6c6c6;
  margin: 0px 10px;
}

.message__controls i:hover {
  cursor: pointer;
  color: #9f9f9f;
}

.message--own .message__like i:hover {
  cursor: default;
  color: #c6c6c6;
}

.message--own .message__controls {
  justify-content: flex-end;
}

.message__like--active i {
  color: red;
}

.message__like--active i:hover {
  color: #cc0000;
}

.message__like--active i:hover {
  color: #cc0000;
}